
#ProcessProDraftsCompareForm .InputfieldFieldset {
	margin-bottom: 1em;
}

#ProDraftsListTable {
	margin-top: 1em;
}

ins {
	background-color: green;
	color: #fff;
	text-decoration: none;
}
del {
	background-color: red;
	color: #fff;
	text-decoration: line-through;
}

.original,
.changed {
	display: none;
}

.ProDraftActions {
	margin-top: 3px;
}
.ProDraftActions span {
	opacity: 0.5;
}

@media screen and (max-width: 767px) {
	.ProDrafts-hidden-small {
		display: none;
	}
	.ProDrafts-visible-small {
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.ProDrafts-visible-small {
		display: none;
	}
	.ProDrafts-hidden-small {
		display: block;
	}
}

/* prevent tablesorter controls from appearing in last checkbox header */
.AdminThemeReno .content .AdminDataTableSortable tr.tablesorter-headerRow th:last-child .tablesorter-header-inner:after {
	content: "";
	margin: 0;
}

