html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto; /* when page gets too small */
}

#container {
	width: 100%;
	height: 100%;
}

.pane {
	display: none; /* will appear when layout inits */
}

iframe {
	margin: 0;
	padding: 0;
}

.ui-layout-pane {
	padding: 0;
}

/*
.ui-layout-west {
	overflow: visible;
	z-index: 100;
}
*/
