@import (reference) "_lesshat.less";
@media screen and (max-width: 767px) {
  .top-bar.oc-js.active {
    position: static;
  }

  .oc-container {
    position: absolute;
    top: 0;
    min-height: 100%;
  }

  .oc-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    .transition(all, .2s, linear);
  }

  .oc-overlay.active {
    z-index: 20;
    background-color: rgba(0, 0, 0, .8);
  }

  #oc-icon {
    position: absolute;
    top: 8px;
    right: 7px;
    z-index: 21;
    display: block;
    width: 50px;
    height: 41px;
    cursor: pointer;

    .transform(rotate(0deg));
    .transition(top, 0s);
    .transition(all, .5s, ease-in-out);
  }

  #oc-icon span {
    position: absolute;
    left: 8px;
    display: block;
    width: 34px;
    height: 6px;
    background: #000;

    .transform(rotate(0deg));
    .transition(all, .25s, ease-in-out);
  }

  #oc-icon span.bar1 {
    top: 8px;
  }

  #oc-icon span.bar2,
  #oc-icon span.bar3 {
    top: 18px;
  }

  #oc-icon span.bar4 {
    top: 28px;
  }

  #oc-icon.active span.bar1 {
    top: 18px;
    left: 50%;
    width: 0;
  }

  #oc-icon.active span {
    background: #fff;
  }

  #oc-icon.active:hover span {
    background: #fff;
  }

  #oc-icon.active span.bar2,
  #oc-icon.active span.bar3 {
    .transform(rotate(45deg));
  }

  #oc-icon.active span.bar3 {
    .transform(rotate(-45deg));
  }

  #oc-icon.active span.bar4 {
    top: 18px;
    left: 50%;
    width: 0;
  }

  .oc-left {
    left: 0;
    width: 100%;
    overflow-x: hidden;

    .transition(left, .2s, linear);
  }

  .oc-left.active {
    left: -75%;
    z-index: 1;
    overflow-x: visible;
  }

  nav.oc-right {
    right: -75%;
    width: 75%;
    background-color: #fff;
  }

  nav.oc-right.active {
    z-index: 9999;
  }

  /*----------  Nav Globals  ----------*/
  nav.oc-right > ul {
    height: 100%;
  }

  nav.oc-right ul li {
    position: relative;
  }

  nav.oc-right ul ul {
    display: none;
  }

  nav.oc-right > ul li.active > ul {
    display: block;
  }

  nav.oc-right ul li a {
    display: block;
    padding: 10px 41px 10px 15px;
    color: #333;
    border-bottom: 1px solid #ddd;
  }

  nav.oc-right li > span.oc-toggle.glyphicon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 22;
    display: block;
    width: 41px;
    height: 41px;
    padding: 14px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }

  nav.oc-right li > span.oc-toggle.glyphicon-plus {
    color: #000;
    background-color: #eee;
  }

  nav.oc-right li > span.oc-toggle.glyphicon-minus {
    color: #fff;
    background-color: #000;
  }

  /*----------  First Level  ----------*/
  nav.oc-right > ul > li {
    display: block;
  }

  nav.oc-right > ul > li > a {
    font-weight: bold;
  }

  nav.oc-right > ul > li.active > a {
    color: #999;
  }

  /*----------  Second Level  ----------*/
  nav.oc-right > ul > li > ul li span.oc-toggle.glyphicon-minus,
  nav.oc-right > ul > li.active > ul li span.oc-toggle.glyphicon-minus {
    color: #000;
    background: #eee;
  }

  nav.oc-right > ul ul li > a {
    padding-left: 25px;
    background: #fafafa;
  }

  /*----------  Third Level   ----------*/
  nav.oc-right > ul ul ul li a {
    padding: 5px 26px 5px 39px;
    font-size: 13px;
    background: #f4f4f4;
    background-image: url("/site/templates/_assets/img/nav/right-arrow-aaa.png");
    background-repeat: no-repeat;
    background-position: 21px 6.5px;
  }

  nav.oc-right > ul ul ul li.active > a,
  nav.oc-right > ul ul ul li:hover > a {
    color: #000;
    background-image: url("/site/templates/_assets/img/nav/right-arrow-aaa.png");
  }

  nav.oc-right > ul ul ul li > span.oc-toggle.glyphicon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 22;
    display: block;
    width: 41px;
    height: 28.5px;
    padding: 7.5px 14.5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background-color: #d1d1d1;
  }

  /*----------  Fourth Level  ----------*/
  nav.oc-right > ul ul ul ul li > a {
    padding: 5px 26px 5px 53px;
    font-size: 13px;
    background: #eee;
    background-image: url("/site/templates/_assets/img/nav/dash-aaa.png");
    background-repeat: no-repeat;
    background-position: 35px 6.5px;
  }

  nav.oc-right > ul ul ul ul li.active > a,
  nav.oc-right > ul ul ul ul li:hover > a {
    color: #000;
    background-image: url("/site/templates/_assets/img/nav/dash-aaa.png");
  }
}

@media screen and (min-width: 768px) {
  #oc-icon {
    display: none;
  }

  .container-nav {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .container-nav {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container-nav {
    width: 1170px;
  }
}
