@import (reference) "_lesshat.less";

/*==============================================================================
=                                Globals                                       =
==============================================================================*/

/*============================== Colors ======================================*/

/*============================== Typography ==================================*/

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

sup {
  font-size: 65%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*============================== Helper Classes ==============================*/

/*==============================================================================
=                                Header                                        =
==============================================================================*/

/*============================== Common ======================================*/

/*============================== Home ========================================*/

/*============================== Interior ====================================*/




/*==============================================================================
=                                Navigation                                    =
==============================================================================*/

/*============================== Off Canvas ==================================*/

@import "_oc-nav.less";

/*============================== Common ======================================*/

/*============================== Top Navigation ==============================*/

/*============================== Side Navigation =============================*/

/*============================== Bottom Navigation ===========================*/

/*==============================================================================
=                                Footer                                        =
==============================================================================*/

/*============================== Common ======================================*/

/*============================== Home ========================================*/

/*============================== Interior ====================================*/




/*==============================================================================
=                                Home Page                                     =
==============================================================================*/




/*==============================================================================
=                                Interior                                      =
==============================================================================*/

/*==============================================================================
=                                Media Queries                                 =
==============================================================================*/

@media screen and (min-width: 400px) {
  /*============================= Globals ====================================*/

  /*============================= Header =====================================*/

  /*============================= Navigation =================================*/

  /*============================= Footer =====================================*/

  /*============================= Home Page ==================================*/

  /*============================= Interior ===================================*/
}

@media screen and (min-width: 480px) {
  /*============================= Globals ====================================*/

  /*============================= Header =====================================*/

  /*============================= Navigation =================================*/

  /*============================= Footer =====================================*/

  /*============================= Home Page ==================================*/

  /*============================= Interior ===================================*/
}

@media screen and (min-width: 620px) {
  /*============================= Globals ====================================*/

  /*============================= Header =====================================*/

  /*============================= Navigation =================================*/

  /*============================= Footer =====================================*/

  /*============================= Home Page ==================================*/

  /*============================= Interior ===================================*/
}

@media screen and (min-width: 768px) {
  /*============================= Globals ====================================*/

  /*============================= Header =====================================*/

  /*============================= Navigation =================================*/

  nav.oc-right > ul > li {
    position: relative;
    display: block;
    float: left;
  }

  nav.oc-right > ul > li > a {
    display: block;
    padding: 8px;
  }

  nav.oc-right > ul > li:hover > ul {
    position: absolute;
    display: block;
  }

  nav.oc-right ul ul {
    display: none;
  }

  /*============================= Footer =====================================*/

  /*============================= Home Page ==================================*/

  /*============================= Interior ===================================*/
}

@media screen and (min-width: 992px) {
  /*============================= Globals ====================================*/

  /*============================= Header =====================================*/

  /*============================= Navigation =================================*/

  /*============================= Footer =====================================*/

  /*============================= Home Page ==================================*/

  /*============================= Interior ===================================*/
}

@media screen and (min-width: 1200px) {
  /*============================= Globals ====================================*/

  /*============================= Header =====================================*/

  /*============================= Navigation =================================*/

  /*============================= Footer =====================================*/

  /*============================= Home Page ==================================*/

  /*============================= Interior ===================================*/
}
